@model IEnumerable<ClassCartoons.DIC_COUNRTY>

@{
    ViewBag.Title = "Компанії";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CT_INFO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CT_INFO)
        </td>
        <td>
            @Html.ActionLink("Мультфільм(и)", "CartoonsByCountry", new {id=item.CT_ID})
        </td>
    </tr>
}

</table>
